@using Abp.Web.Mvc.Extensions
@{
    ViewBag.Title = "";
}

@section styles{

}
@section scripts{
    
    @Html.IncludeScript("~/Areas/Plat/Views/GWareHouseInfo/Index.js")

}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false" style="height: 50px;">
        <form id="searchForm">
            <table class="kv-table">
                <tr>
                    <th class="kv-label" style="text-align: center">搜索内容</th>
                    <td class="kv-content">
                        <input name="" id="" class="easyui-textbox" />
                        <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="com.filter('#searchForm', '#dgGrid');">查询</a>
                        <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-undo'" onclick="com.clear('#searchForm', '#dgGrid')">清空</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center',border:false">
        <table id="dgGrid"></table>
    </div>
</div>



